.container{
  background-color: #f0f8ff
}

html, body {
  background-color: #f0f8ff
}

.footer {
  background-color: #efefef;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}
